@use 'scss/reset';

@font-face {
    font-family: "Inter";
    src:
        url(".././fonts/Inter24pt-Medium.woff2") format("woff2")
}

:root {
    font-family: "inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 10px;

    &__menu {
        min-width: 600px;
        margin-left: auto;

        &--list {
            display: flex;
            justify-content: space-between;

        }
    }
}



.hero {
    position: relative;
    background-image: url(../img/hero/Hero.jpg);
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;

    &__banner {
        padding-top: 35px;
        position: absolute;
        top: 119px;
        width: 530px;
        height: 470px;
        background-color: #fff;
        border-radius: 30px;

        &_right {
            right: 0;
        }
    }
}

.banner {

    &__title {
        margin: 0 60px 20px 60px;
        line-height: 50px;
        font-weight: 600;
        font-size: 48px;
    }

    &__desc {
        margin-inline: 60px;
        margin-bottom: 25px;
    }

    &__list {
        position: relative;
    }

    &__item {
        display: flex;
        font-size: 18px;
        align-items: center;
        margin-left: 60px;
        margin-bottom: 17px;

    }

    &__marker {
        margin-right: 10px;
    }

    &__button {
        margin-left: 60px;
        margin-top: 15px;
    }

    &_right {
        position: absolute;
        right: 0px;
    }
}

.button {
    background-color: #009999;
    padding-inline: 30px;
    padding-block: 15px;
    color: #fff;
    border-radius: 5px;
}

.about {
    margin-top: 100px;

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }

    &__desc {
        text-align: center;
        font-size: 18px;
        padding-block: 30px;
    }

    &__advantages {
        display: grid;
        text-align: center;
        margin-bottom: 90px;
        grid-template-columns: 1fr 1fr 1fr;
    }


}

.advantages {

    &__title {
        padding-block: 20px;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        display: block;
        margin-inline: auto;
    }

    &__hero {
        margin-top: 150px;
        background-image: url(../img/hero/Hero2.jpg);
    }
}

.banner_right {
    right: 0;
}

.service {
    padding-top: 150px;
    width: 950px;
    margin-inline: auto;

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }

    &__desc {
        font-size: 18px;
        margin-block: 30px;
        text-align: center;
    }
}

.types-of-services {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    justify-content: center;
    row-gap: 30px;

    &__logo {
        text-align: center;
    }
}

.circle {
    width: 195px;
    height: 195px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -97px
}

.line {
    width: 165px;
    height: 2px;
    background-color: #fff;
}

.sign-up {

    margin-top: 140px;
    background-color: #FFAB00;
    color: #fff;
    text-align: center;

    &__wrapper {
        display: flex;
        justify-content: center;
    }


    &__logo {
        max-width: 100%;
        position: absolute;
        padding-inline: auto;
        top: -90px;
    }

    &__header {
        margin-inline: auto;
        padding-top: 160px;
        width: 895px;
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    &__desc {
        font-size: 18px;
        padding-bottom: 60px;
    }
}

.appliance {

    &__logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 20px;
        padding-inline: 55px;
    }

    &__logo {
        display: block;
    }

    &__items {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, 270px);
        padding-bottom: 60px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
    }

    &__desc {}

    &__button {}
}

.reviews {
    margin-block: 130px;
}
.testimonials {
    margin-bottom: 60px;
    text-align: center;

.testimonials__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    
}
.testimonials__desc {
    font-size: 18px;
    width: 600px;
    margin-inline: auto;
}
}
.rewieves {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
.rewievs__item {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1)
}
}